
/AppAlunos-BackEnd/.vs/AppAlunos-BackEnd/DesignTimeBuild
/AppAlunos-BackEnd/.vs/AppAlunos-BackEnd/FileContentIndex
/AppAlunos-BackEnd/.vs/AppAlunos-BackEnd/v17
/AppAlunos-BackEnd/bin/Debug/net8.0
/AppAlunos-BackEnd/.vs
/AppAlunos-BackEnd/obj/Debug
/AppAlunos-BackEnd/obj
/AppAlunos-BackEnd/obj
/AppAlunos-BackEnd/obj/Debug
